<ion-view view-title="Bike Hawaii: Tracker">
     <div ng-controller="MapCtrl">
      <ion-content>
<!--         <ion-tabs class="has-header" id="coordinate_display">
          <div>hello</div>
        </ion-tabs> -->
        <div id="map" data-tap-disabled="true">

        </div>
      </ion-content>
      <ion-footer-bar id="footer-bar">
          <div><a ng-click="centerOnMe()" class="button button-icon icon ion-location">&nbsp;&nbsp;Where am I?</a>
          </div>
      </ion-footer-bar>
    </div>

  </ion-content>
</ion-view>