
<ion-view data-ng-init="init()" title="{{navTitle}}" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true" class="bubble-background title-style">

  <ion-side-menus><!-- SIDE MENU FOR MAP -->
    <ion-pane ion-side-menu-content>
      <ion-header-bar class="bar bar-header">
        <a ng-href="#" ng-click="myGoBack()"><i class="ion-ios-arrow-thin-left backArrow"></i></a>
        <div class="ion-navicon-round button surveyBtn" ng-click="toggleRight();"></div>
      </ion-header-bar>

      <ion-content data-tap-disabled="true" class="fade-on-enter">
          <leaflet data-tap-disabled="true" layers="layers" lf-center="center" center="center" paths="paths" markers="markers" event-broadcast="events" defaults="defaults" id='map' controls="controls" custom-controls="myCustomControls" geojson="geojson"></leaflet>
      </ion-content>
    </ion-pane ion-side-menu-content>

    <ion-side-menu side="right">
      <ion-list>
        <ion-item><a menu-close href="#/tab/home">Home&nbsp<i class="ion-android-home waves-effect" nav-transition="none"></i></a></ion-item>
      </ion-list>

      <ion-list>
        <ion-item class="waves-effect"><a ng-href="#/tab/leave-comments" nav-transition="none">
        <span>Leave Feedback</span>
      </a></ion-item>
      </ion-list>

      <ion-list>
        <ion-item menu-close ng-click="createReportPoint()" class="waves-effect"><span>Suggest a Station</span></ion-item>
      </ion-list>

      <ion-list>
        <ion-item menu-close ng-click="" class="waves-effect"><span>Like Stations</span></ion-item>
      </ion-list>
    </ion-side-menu>
  </ion-side-menus><!-- SIDE MENU FOR MAP -->






  <!-- BULK LIKE VIEW FOR MEDIUM UP -->
  <ion-footer-bar id="footer-bar" class="row hide-on-med-and-down" ng-show="showReportControl">

    <div class="exitOutOfSuggestion" ng-click="cancelReportPoint()">
      x
    </div>

    <div class="theDivDirection">
      <div class="row daStationWrap">

        <div class="row">
          <img src=".././img/bike-assets/numOne.png" alt="">
          <div class="thePdirection row">
            <span>Drag</span>

            <div class="yellowBikeDiv">
              <img src=".././img/bike-assets/Bike Yellow copy.png">
            </div>

            <span>marker.</span>
          </div>
        </div>

        <div class="row">
          <img src=".././img/bike-assets/num2.png" alt="">
          <div class="thePdirection">
           <span>Place bike icon where you'd like to see a station.</span>
          </div>
        </div>

        <div class="row">
          <img src=".././img/bike-assets/num3.png" alt="">
          <div class="thePdirection">
            Click 'Confirm location' to set your point.
          </div>
        </div>

        <div class="row center">
          <a style="background-color: rgb(234, 187, 0); margin: auto; color: black;" class="button" ng-click="openModal(3);cancelReportPoint()" nav-transition="none">
             Confirm Location
          </a>
        </div>

      </div> <!-- /DASTATIONWRAP -->
    </div> <!-- /THEDIVDIRECTION -->
  </ion-footer-bar><!-- BULK LIKE VIEW FOR MEDIUM UP -->







  <!-- SUGGEST A STATION BUTTON FOR MEDIUM UP VIEW -->
  <ion-footer-bar id="footer-bar" class="row hide-on-med-and-down" ng-show="showReportControl">

    <div class="exitOutOfSuggestion" ng-click="cancelReportPoint()">
      x
    </div>

    <div class="theDivDirection">
      <div class="row daStationWrap">

        <div class="row">
          <img src=".././img/bike-assets/numOne.png" alt="">
          <div class="thePdirection row">
            <span>Drag</span>

            <div class="yellowBikeDiv">
              <img src=".././img/bike-assets/Bike Yellow copy.png">
            </div>

            <span>marker.</span>
          </div>
        </div>

        <div class="row">
          <img src=".././img/bike-assets/num2.png" alt="">
          <div class="thePdirection">
           <span>Place bike icon where you'd like to see a station.</span>
          </div>
        </div>

        <div class="row">
          <img src=".././img/bike-assets/num3.png" alt="">
          <div class="thePdirection">
            Click 'Confirm location' to set your point.
          </div>
        </div>

        <div class="row center">
          <a style="background-color: rgb(234, 187, 0); margin: auto; color: black;" class="button" ng-click="openModal(3);cancelReportPoint()" nav-transition="none">
             Confirm Location
          </a>
        </div>

      </div> <!-- /DASTATIONWRAP -->
    </div> <!-- /THEDIVDIRECTION -->
  </ion-footer-bar><!-- /SUGGEST A STATION BUTTON FOR MEDIUM UP VIEW -->




  <!-- SUGGEST A STATION DIRECTION FOR MOBILE VIEW -->
  <ion-footer-bar id="footer-bar" class="row suggestion_footer_bar hide-on-med-and-up" ng-show="showReportControl">

    <div class="exitOutOfSuggestion" ng-click="cancelReportPoint()">
      x
    </div>

    <div class="row center">
      <div class="col">
        <img src=".././img/bike-assets/numOne.png" alt="">
        <p>Drag
        <img class="mobileYellowBikeIcon" src=".././img/bike-assets/Bike Yellow copy.png">

        marker.</p>
      </div>

      <div class="col">
        <img src=".././img/bike-assets/num2.png" alt="">
        <p>Place bike icon where you'd like to see a station.</p>
      </div>

      <div class="col">
        <img src=".././img/bike-assets/num3.png" alt="">
        <p>Click 'Confirm location' to set your point.</p>
      </div>
    </div>
    <a style="background-color: rgb(234, 187, 0); margin: auto; color: black;" class="button" ng-click="openModal(3);cancelReportPoint()" nav-transition="none">
       Confirm Location
    </a>
  </ion-footer-bar>
  <!-- /SUGGEST A STATION DIRECTION FOR MOBILE VIEW -->

</ion-view>

<script id="yourSuggestionSave.html" type="text/ng-template">

    <ion-modal-view class="mahaloSuggestionWrapper padding">
      <ion-content class="alohaLandingOne">
        <div>
          <h3>Mahalo! Your suggestion has been submitted.</h3>
          </br>
          <div>
            <div>
              <a style="color: #96E6BF;" href="" ng-click="closeModal(3);suggestStation();">Back to Map</a>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-modal-view>

</script>