
<ion-view data-ng-init="init()" title="{{navTitle}}" left-buttons="leftButtons" right-buttons="rightButtons" hide-back-button="true" class="bubble-background title-style">

  <!-- <ion-nav-bar class="mapSiteTopBar"> -->
  <ion-header-bar class="bar bar-header">
    <a ng-href="#" ng-click="myGoBack()"><i class="ion-ios-arrow-thin-left backArrow"></i></a>

    <a ng-href="#/tab/leave-comments" class="button fdbckBtn waves-effect" nav-transition="none">
      <span>Leave Feedback</span>
    </a>
    <div class="button suggestBtn waves-effect" ng-click="createReportPoint()"><span>Suggest a Station</span></div>
    <a href="#/tab/home"><i class="ion-ios-home-outline button surveyBtn waves-effect" nav-transition="none"></i></a>

  </ion-header-bar>
  <!-- </ion-nav-bar> -->

  <ion-content data-tap-disabled="true" class="fade-on-enter">
   <!--  <div class="getLocationMarker" ng-click="findCenter()">
      <img src="../img/bike-assets/sMarkerIcon.png" alt="">
    </div>
    <div ng-click="findCenter()">
    </div> -->

      <leaflet data-tap-disabled="true" layers="layers" lf-center="center" center="center" paths="paths" markers="markers" event-broadcast="events" defaults="defaults" id='map' custom-controls="myCustomControls" geojson="geojson"></leaflet>

  </ion-content>



  <!-- SUGGEST A STATION BUTTON FOR MEDIUM UP VIEW -->
  <ion-footer-bar id="footer-bar" class="row" ng-show="showReportControl">

    <div class="exitOutOfSuggestion" ng-click="cancelReportPoint()">
      x
    </div>

    <div class="theDivDirection">
      <div class="row daStationWrap">

        <div class="row">
          <img src=".././img/bike-assets/numOne.png" alt="">
          <div class="thePdirection row">
            Drag
            <div class="yellowBikeDiv">
              <img src=".././img/bike-assets/Bike Yellow copy.png">
            </div>
            marker.
          </div>
        </div>

        <div class="row">
          <img src=".././img/bike-assets/num2.png" alt="">
          <div class="thePdirection">
           Place bike icon where you'd like to see a station.
          </div>
        </div>

        <div class="row">
          <img src=".././img/bike-assets/num3.png" alt="">
          <div class="thePdirection">
            Click 'Confirm location' to set your point.
          </div>
        </div>

        <div class="row center">
          <a style="background-color: rgb(234, 187, 0); margin: auto;" class="button" ng-click="openModal(3);cancelReportPoint()" nav-transition="none">
             Confirm Location
          </a>
        </div>

      </div> <!-- /DASTATIONWRAP -->
    </div> <!-- /THEDIVDIRECTION -->



    <!-- <div class="row bothSuggestBtns hide-on-med-and-up">
      <div class="eachSuggestbtn valign-wrapper" ng-click="cancelReportPoint()" style="margin-bottom: 4px">
        <div>Cancel</div>
      </div>

      <a class="eachSuggestbtn valign-wrapper" ng-click="openModal(3);cancelReportPoint()" class="suggestButtonsDiv" nav-transition="none">
         <span>Create Point</span>
      </a>
    </div> -->
  </ion-footer-bar>
  <!-- /SUGGEST A STATION BUTTON FOR MEDIUM UP VIEW -->





    <ion-footer-bar id="footer-bar" class="row suggestion_footer_bar hide-on-med-and-up" ng-show="showReportControl">
      <div class="row center">
        <div class="col">
         <img src=".././img/bike-assets/numOne.png" alt="">
         <p>Drag marker.</p>
        </div>

        <div class="col">
          <img src=".././img/bike-assets/num2.png" alt="">
          <p>Place bike icon where you'd like to see a station.</p>
        </div>

        <div class="col">
          <img src=".././img/bike-assets/num3.png" alt="">
          <p>Click 'Create Point' or 'Cancel'.</p>
        </div>
      </div>
      <div class="row bothSuggestBtns hide-on-med-and-up">
        <div class="eachSuggestbtn valign-wrapper" ng-click="cancelReportPoint()" style="margin-bottom: 4px">
          <div>Cancel</div>
        </div>

        <a class="eachSuggestbtn valign-wrapper" ng-click="openModal(3);cancelReportPoint()" class="suggestButtonsDiv" nav-transition="none">
           <span>Create Point</span>
        </a>
      </div>
    </ion-footer-bar>
</ion-view>

<script id="yourSuggestionSave.html" type="text/ng-template">

    <ion-modal-view class="mahaloSuggestionWrapper padding">
      <ion-content class="alohaLandingOne">
        <div>
          <h3>Mahalo! Your bike </br>station suggestion has been submitted.</h3>
          </br>
          <div>
            <div>
              <a style="color: #96E6BF;" href="" ng-click="closeModal(3);suggestStation();">Back to Map</a>
            </div>
          </div>
        </div>
      </ion-content>
    </ion-modal-view>

</script>