<!-- <ion-view view-title="Bike Hawaii">
  <ion-content class="padding">
    <h2>Welcome to Ionic</h2>
    <p>
    This is where Duration will go <a href="http://market.ionic.io/starters" target="_blank">Ionic Market</a>.
    </p>
    <p>
      To edit the content of each tab, edit the corresponding template file in <code>www/templates/</code>. This template is <code>www/templates/tab-dash.html</code>
    </p>
    <p>
    If you need help with your app, join the Ionic Community on the <a href="http://forum.ionicframework.com" target="_blank">Ionic Forum</a>. Make sure to <a href="http://twitter.com/ionicframework" target="_blank">follow us</a> on Twitter to get important updates and announcements for Ionic developers.
    </p>
    <p>
      For help sending push notifications, join the <a href="https://apps.ionic.io/signup" target="_blank">Ionic Platform</a> and check out <a href="http://docs.ionic.io/docs/push-overview" target="_blank">Ionic Push</a>. We also have other services available.
    </p>
  </ion-content>
</ion-view>
 -->

<ion-view view-title="Bike Hawaii: Tracker">
     <div ng-controller="MapCtrl">
      <ion-header-bar class="bar-calm">
        <h1 class="title"> Ride Routes </h1>
      </ion-header-bar>
      <ion-content>
        <ion-tabs class="has-header">
          <ion-tabs title="Distance"></ion-tabs>
          <ion-tabs title="Pace"></ion-tabs>
          <ion-tabs title="Time"></ion-tabs>
        </ion-tabs>
        <div id="map" data-tap-disabled="true">

        </div>
      </ion-content>
      <ion-footer-bar id="footer-bar">
          <div><a ng-click="centerOnMe()" class="button button-icon icon ion-location">&nbsp;&nbsp;Where am I?</a>
          </div>
      </ion-footer-bar>
    </div>

  </ion-content>
</ion-view>