<ion-view view-title="Bike Hawaii">

      <ion-content data-tap-disabled="true">

        <div class="view-filter">
          <button ng-click="openModal()" class="button button-icon icon ion-gear-a placeholder-icon"></button>
        </div>

        <leaflet lf-center="center" center="honolulu" markers="markers" event-broadcast="events" defaults="defaults" id='map' custom-controls="myCustomControls" geojson = "geojson"></leaflet>
      </ion-content>
        <ion-footer-bar id="footer-bar">
          <div><button ng-click="findCenter()" class="button button-icon icon ion-location"></button></div>
          <div><button ng-click="" class="button button-icon icon ion-android-bicycle"></button></div>
          <div><button ng-click="" class="button button-icon icon ion-image"></button></div>
          <div><button ng-click="" class="button button-icon icon ion-chevron-up"></button></div>
        </ion-footer-bar>
      </ion-content>

<!-- pop-up modal -->

      <script id="filter-modal.html" type="text/ng-template">
        <div class="modal">
          <ion-header-bar>
            <h1 class="title">Filters</h1>
          </ion-header-bar>
          <ion-content>
            <div class="list">
              <div class="item">Pin Types
                <div class="pinViews">
                  <ion-checkbox href="#">
                  <i class="icon ion-android-bicycle"></i>
                    Bike Share Stations
                  </ion-checkbox>

                  <ion-checkbox href="#">
                  <i class="icon ion-image"></i>
                    Landmark
                  </ion-checkbox>

                  <ion-checkbox href="#">
                  <i class="icon ion-chevron-up"></i>
                    Public Bike Racks
                  </ion-checkbox>
                </div>
              </div>
              <!-- RADIUS SELECT ITEMS -->
              <div class="item item-input item-select">
                <div id="radiusDiv" class="input-label">Radius: mile(s)</div>
                  <!-- <ion-item class="text-center"> -->
                  <select>
                    <option class="button">0.5</option>
                    <option class="button buttonStyle">1</option>
                    <option class="button buttonStyle">2</option>
                    <option class="button buttonStyle">All</option>
                  <!-- </ion-item> -->
                  </select>
                </div>

              <!-- MAP VIEW SELECT ITEMS -->
         <!--      <div class="item">Map Views
                <div id="mapView" class="button-bar">
                  <!-- <ion-item class="text-center"> -->
                   <!--  <button class="button button-large buttonStyle"> Satelite</button>
                    <button class="button button-large buttonStyle"> Hybrid</button>
                    <button class="button button-large buttonStyle"> Street</button>
                  <!-- </ion-item> -->
              <!--   </div>
              </div> -->
            <div>
              <button class="button button-full button-energized" ng-click="closeModal()">Done</button>
            </div>

          </ion-content>
        </div>
      </script>

</ion-view>
