<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Nearby Tab -->
  <ion-tab title="Nearby" icon-off="ion-android-compass" icon-on="ion-android-compass" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Gallery Tab -->
  <ion-tab title="Gallery" icon-off="ion-grid" icon-on="ion-grid" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>

  <!-- Dashboard Tab -->
  <ion-tab title="Bike Share Racks" icon-off="ion-map" icon-on="ion-map" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>


</ion-tabs>
