ga.DS_Store
node_modules
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
example/cordova/iOS/www/js/framework
config/secret.js
config/config.json
example/cordova/iOS/www/js/framework
.sass-cache/
framework.sublime-project

framework.sublime-workspace
UserInterfaceState.xcuserstate

*.sublime-project

*.sublime-workspace

bower_components/
components/
tmp
temp
dist

.idea
platforms/*
.versions
www.zip
# Coverage directory used by tools like istanbul
coverage/