///////// BROWSER VIEW ///////////

.platform-browser {

  div.title.title-center.header-item,
  div.title.title-left.header-item {
    display: none;
  }

  .leaflet-control {
    top: 90px;
  }

  .bar.bar-dark {
    height: 88px;
    border-bottom: 1.5px solid #FFEE07;
    background-image: url('.././img/bike-assets/bikeShareHeader.png');
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: cover;
  }

  .sub-nav {
    // background-color: pink;
  }

  .bar-subheader {
    border-bottom: 1px solid #FFEE07;
  }

  .left-part-sub {
    // border: 1px solid blue;
    margin-top: -8px;
  }

  .waves-effect {
    padding: 7.7px;
  }

  .fa-envelope-o {
    color: red;
  }

  .fa-facebook {
    color: #003366;
  }

  .fa-twitter {
    color: #55ACEE;
  }

  #footer-bar2 {
    // margin-top: 10em;
    // margin-left: 43%;

    .btn-large {
      // margin-right: 20%;
    }
  }

  a {
    color: $dark;
  }

  /* Underline From Center */
  .hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
  }
  .hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: #7ADEA8;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0;
    right: 0;
  }

  .potential-marker {
    display: flex;
  }

  .collection {
    z-index: 5;
    top: 10em;
    left: 84%;
  }

  #footer-bar {
    background-color: $stable;
    border-top: 1px solid #FFEE07;
  }
}

//////// END BROWSER STYLE //////////
