
@mixin borderRadius($radius) {
 -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
     -ms-border-radius: $radius;
         border-radius: $radius;
}

@mixin fontStyle($font-size, $line-height){
  font-size: $font-size;
  line-height: $line-height;
}

@mixin fontType($color,$size,$line-height) {
  color: $color;
  font-size: $size;
  line-height: $line-height;
}

@mixin buttonStyling($color,$background-color,$padTop,$padRight,$padBottom,$padLeft,$weight,$size){
  color: $color;
  background-color: $background-color;
  padding: $padTop $padRight $padBottom $padLeft;
  font-weight: $weight;
  font-size: $size;
}


@-webkit-keyframes bounceIn {
  0% {-webkit-transform: scale(0.1); opacity: 0;}
  60% {-webkit-transform: scale(0.05); opacity: 1;}
  100% {-webkit-transform: scale(1);}
}

@keyframes bounceIn {
  0% {transform: scale(0.1); opacity: 0;}
  60% {transform: scale(0.05); opacity: 1;}
  100% {transform: scale(1);}
}

@keyframes moveOutLeft {
  0% {width: 30px; opacity: 0;}
  50% {opacity: 0.5}
  100% {width: 220px; opacity: 1;}
}

@keyframes slideBackIn {
  100% {width: 220px; opacity: 1;}
  50% {opacity: 0.5}
  0% {width: 30px; opacity: 0;}
}


@-webkit-keyframes pulse {
    0% { -webkit-transform: scale(4); }
    50% { -webkit-transform: scale(1.1); }
    100% { -webkit-transform: scale(1); }
}
@keyframes pulse {
    0% { transform: scale(4); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
.pulse {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

@-webkit-keyframes fadeIn { from { opacity:0.5; } to { opacity:1; } }
   @-moz-keyframes fadeIn { from { opacity:0.5; } to { opacity:1; } }
        @keyframes fadeIn { from { opacity:0.5; } to { opacity:1; } }


//MODAL ANIMATION

.fade-on-enter {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;
     -moz-animation:fadeIn ease-in 1;
          animation:fadeIn ease-in 1;

 -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
         animation-fill-mode:forwards;

 -webkit-animation-duration:0.25s;
    -moz-animation-duration:0.25s;
         animation-duration:0.25s;
}

.scale-in {
  transform: scale(1);
  opacity: 0.8;
}
.scale-in.ng-enter,
.scale-in > .ng-enter {
  transition: all cubic-bezier(.1, .5, .6, .9) 800ms;
}

.scale-in.ng-enter-active,
.scale-in > .ng-enter-active {
  transform: scale(1);
  opacity: 1;
}

.scale-in.ng-leave,
.scale-in > .ng-leave {
  transition: all ease-in-out 250ms;
}