  <!DOCTYPE html> <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com; style-src 'self' 'unsafe-inline' http://*.leafletjs.com http://*.bootstrapcdn.com/* https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css http://*.gstatic.com http://*.google.com https://maps.googleapis.com http://127.0.0.1:0 http://localhost; script-src 'self' 'unsafe-eval' 'unsafe-inline' http://*.leafletjs.com http://*.mapbox.com http://*.gstatic.com http://*.google.com  http://*.cloudflare.com http://localhost:* https://*.googleapis.com 127.0.0.1:0; ">
    <title>Community Outreach</title>
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="css/leaflet.extra-markers.min.css">
    <!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" /> -->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.css" />
    <!-- <link rel="stylesheet" href="lib/leaflet-sidebar/src/L.Control.Sidebar.css"> -->

    <!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" /> -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>
    <!-- <script src="js/fb.js"></script> -->
        <!-- cordova script (this will be a 404 during development) -->
    <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
<!-- <script src="cordova.js"></script> -->

  </head>

  <body ng-app="starter">

      <script id="templates/tabs.html" type="text/ng-template">
            <ion-nav-view name="home-tab" ></ion-nav-view>
            <ion-nav-view name="main-tab"></ion-nav-view>
            <ion-nav-view name="feedback-tab"></ion-nav-view>
      </script>

      <script id="templates/home.html" type="text/ng-template">
        <ion-view view-title="Home" class="landing">
          <ion-content>
          <div ng-controller="LandingCtrl" class="alohaLandingOne">
            <p class="contentTitle">Aloha!</p><br>
            <p class="contentPar"> We need your help! We’re </br>planning a brand new transportation </br>program called BIKESHARE. </br>Please help us understand how </br>our program can best serve you.</p>
            <br>
            <a ng-click="userStart()" class="button waves-effect waves-light" href="#/tab/aloha" nav-transition="none">Let's Go!</a>
          </div>
          </ion-content>
        </ion-view>
      </script>

      <!-- MOBILE VIEW LANDING INTRO -->
      <script id="templates/alohaLanding.html" type="text/ng-template">
        <ion-view class="landing" view-title="Bikeshare Hawaii">
          <ion-content class="padding">
            <div ng-controller="PathCtrl">
            <!-- <div ng-controller="PathCtrl" class="alohaLandingOne hide-on-med-and-up"> -->
            <div class="alohaLandingOne hide-on-med-and-up">
              <p class="contentPar">Help us customize your </br>experience by selecting the option </br>that fits you the best.</p>
              <div class="buttonLinks">
                <a ng-click="updatePath('info')" href="#/tab/main"><div class="button btnDrk waves-effect waves-light">I don’t know what </br>bikeshare is and want </br>to learn more</div></a></br>
                <a ng-click="updatePath('map')" href="#/tab/mapSite"><div class="button btnDrk waves-effect waves-light">I’m excited about </br>bikeshare and want to </br>know how I can use it</div></a></br>
                <a ng-click="updatePath('benefits')" href="#/tab/benefits"><div class="button btnDrk waves-effect waves-light">I'm not sure my </br>community needs </br>Bikeshare Hawaii.</div></a></br>
              </div>
            </div>


            <!-- BROWSER VIEW LANDING INTRO -->
            <!-- <div ng-controller="PathCtrl" class="alohaLandingOne hide-on-small-only webViewLandingButton"> -->
            <div class="alohaLandingOne hide-on-small-only webViewLandingButton">
              <a  ng-click="updatePath('info')" class="moreInfoBlockBtn" href="#/tab/main" nav-transition="none"><img src="img/bike-assets/web-1.png" alt=""></a>
              <a ng-click="updatePath('map')" class="mapBlockBtn" href="#/tab/mapSite" nav-transition="none"><img src="img/bike-assets/web-3.png" alt=""></a>
              <a ng-click="updatePath('benefits')" class="benefitsBlockBtn" href="#/tab/benefits" nav-transition="none"><img src="img/bike-assets/web-2.png" alt=""></a>
            </div>
            </div>
          </ion-content>
        </ion-view>
      </script>

<!--       The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like). -->

    <ion-nav-view></ion-nav-view>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="lib/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="lib/ui-leaflet/dist/ui-leaflet.js"></script>
    <script src="lib/ui-bootstrap-custom-build/ui-bootstrap-custom-tpls-1.3.2.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet/v1.0.0-beta.2/leaflet.js"></script>
    <!-- <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script> -->
    <script src="js/l.control.geosearch.js"></script>
    <script src="js/l.geosearch.provider.google.js"></script>
    <!-- <script src="http://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js"></script> -->

    <!-- for loading information from KML files-->
    <script src="js/leaflet.extra-markers.min.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="assets/BBB.js"></script>
    <script src="assets/stations.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>

    <!-- <script src="js/constants.js"></script> -->
  </body>
</html>