  <!DOCTYPE html> <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com; style-src 'self' 'unsafe-inline' http://*.bootstrapcdn.com/* http://*.leafletjs.com http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css http://*.gstatic.com http://*.google.com ; script-src 'self' 'unsafe-eval' 'unsafe-inline' http://*.leafletjs.com http://*.mapbox.com http://*.gstatic.com http://*.google.com  http://*.cloudflare.com http://localhost:*;">
    <title>Ride Hawaii</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/leaflet.extra-markers.min.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script>
    <script src="js/fb.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
<!-- <script src="cordova.js"></script> -->

  </head>

  <body ng-app="starter">

      <script id="templates/tabs.html" type="text/ng-template">
            <ion-nav-view name="home-tab"></ion-nav-view>
            <ion-nav-view name="main-tab"></ion-nav-view>
            <ion-nav-view name="feedback-tab"></ion-nav-view>
      </script>

      <script id="templates/home.html" type="text/ng-template">
        <ion-view view-title="Home" class="landing">
          <ion-content>
          <div class="alohaLandingOne">
            <p class="contentTitle">Aloha!</p><br>
            <p class="contentPar"> We wanted to get your <br>feedback about a new <br>commuting program that <br>will affect your community. <br>Your input is important to<br> us as we work on <br>developing program.</p>
            <br>
            <a class="button" href="#/tab/facts">Let's Go!</a>
          </div>
          </ion-content>
        </ion-view>
      </script>

      <script id="templates/facts.html" type="text/ng-template">
        <ion-view class="landing" view-title="Facts" ng-init="toggleAge=true; gender=false; zipCode=false">
          <div class="container">
            <ion-content class="alohaLandingOne valign-wrapper">

                <p class="contentPar">Before we get started, <br>we want to gather some<br>general information.<br></p>
                <div ng-show="toggleAge">
                  <div class="genQsBtn btnHeader button">&nbsp&nbspAge&nbsp&nbsp&nbsp&nbsp</div></br>
                    <a class="genQsBtn button" ng-click="toggleAge=false; gender=true; zipCode=false">18-25</a></br>
                    <a class="genQsBtn button" ng-click="toggleAge=false; gender=true; zipCode=false">26-45</a></br>
                    <a class="genQsBtn button" ng-click="toggleAge=false; gender=true; zipCode=false">&nbsp46+&nbsp&nbsp</a>
                  </div>

                <div ng-show="gender">
                  <div class="genQsBtn btnHeader button">&nbspGender&nbsp&nbsp</div></br>
                  <div class="genQsBtn button" ng-click="toggleAge=false; gender=false; zipCode=true">Female</div></br>
                  <div class="genQsBtn button" ng-click="toggleAge=false; gender=false; zipCode=true">&nbsp&nbspMale&nbsp&nbsp</div>
                </div>

                <div ng-show="zipCode">
                  <div class="genQsBtn btnHeader button">zip code</div></br>
                  <input class="genQsBtn" type="number">
                  <a href="#/tab/aloha" class="button">Submit</a>
                </div>
                </br>
                <a class="skipLink" href="#/tab/aloha">skip</a>

            </ion-content>
          </div>
        </ion-view>
      </script>

      <script id="templates/alohaLanding.html" type="text/ng-template">
        <ion-view class="landing" view-title="Also Factual">
          <ion-content class="padding">
            <div class="alohaLandingOne">
              <p class="contentTitle">How much do you know </br>about Bikeshare Hawaii program?</p>
              <div>
                <a href="#/tab/main">What is Bikeshare?</a>
                <a href="">I know about Bikeshare, just not sure my community needs it.</a>
                <a href="#/tab/mapSite">Bikeshare is awesome! Are there stations near me?</a>
              </div>
                <a class="button icon ion-home" href="#/tab/home"> Home</a>
                <a class="button icon ion-chevron-left" href="#/tab/facts"> Scientific Facts</a>
              </p>
            </div>
          </ion-content>
        </ion-view>
      </script>

      <script id="templates/about.html" type="text/ng-template">
        <ion-view class="landing" view-title="About">
          <ion-content class="padding">
            <h3>Create hybrid mobile apps with the web technologies you love.</h3>
            <p>Free and open source, Ionic offers a library of mobile-optimized HTML, CSS and JS components for building highly interactive apps.</p>
            <p>Built with Sass and optimized for AngularJS.</p>
            <p>
              <a class="button icon icon-right ion-chevron-right" href="#/tab/navstack">Tabs Nav Stack</a>
            </p>
          </ion-content>
        </ion-view>
      </script>

      <script id="templates/contact.html" type="text/ng-template">
        <ion-view title="Contact">
          <ion-content>
            <div class="list">
              <div class="item">
                @IonicFramework
              </div>
              <div class="item">
                @DriftyTeam
              </div>
            </div>
          </ion-content>
        </ion-view>
      </script>
<!--       The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like). -->

    <ion-nav-view ng-controller="MapCtrl"></ion-nav-view>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="lib/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="lib/ui-leaflet/dist/ui-leaflet.js"></script>
    <script src="lib/ui-bootstrap-custom-build/ui-bootstrap-custom-1.3.2.min.js"></script>
    <script src="lib/ui-bootstrap-custom-build/ui-bootstrap-custom-tpls-1.3.2.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <!-- <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script> -->


    <script src="http://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js"></script>
    <!-- for loading information from KML files-->

    <script src="js/leaflet.extra-markers.min.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <!-- <script src="js/constants.js"></script> -->
  </body>
</html>
