  <!DOCTYPE html> <html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src * data: gap: https://ssl.gstatic.com; style-src 'self' 'unsafe-inline' http://*.bootstrapcdn.com/* http://*.leafletjs.com http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css http://*.gstatic.com http://*.google.com https://maps.googleapis.com http://127.0.0.1:0 http://localhost; script-src 'self' 'unsafe-eval' 'unsafe-inline' http://*.leafletjs.com http://*.mapbox.com http://*.gstatic.com http://*.google.com  http://*.cloudflare.com http://localhost:* https://*.googleapis.com 127.0.0.1:0; ">
    <title>Ride Hawaii</title>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/leaflet.extra-markers.min.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- <script src="lib/ionic-platform-web-client/dist/ionic.io.bundle.min.js"></script> -->
    <script src="js/fb.js"></script>
        <!-- cordova script (this will be a 404 during development) -->
    <!-- Cordova is bootstrapped by ionic-platform-web-client, uncomment this if you remove ionic-platform-web-client... -->
<!-- <script src="cordova.js"></script> -->

  </head>

  <body ng-app="starter">

      <script id="templates/tabs.html" type="text/ng-template">
            <ion-nav-view name="home-tab"></ion-nav-view>
            <ion-nav-view name="main-tab"></ion-nav-view>
            <ion-nav-view name="feedback-tab"></ion-nav-view>
      </script>

      <script id="templates/home.html" type="text/ng-template">
        <ion-view view-title="Home" class="landing">
          <ion-content>
          <div ng-controller="MapCtrl" class="alohaLandingOne">
            <p class="contentTitle">Aloha!</p><br>
            <p class="contentPar"> We need your help! We’re planning</br> a brand new transportation program</br> called BIKESHARE. Please help us </br>understand how our program </br>can best serve you.</p>
            <br>
            <a ng-click="userStart()" class="button waves-effect waves-light" href="#/tab/aloha">Let's Go!</a>
          </div>
          </ion-content>

        <!-- HERES THE CODE FOR THE PULL-UP COPY PASTAED FROM AN EXAMPLE HERE: http://arielfaur.github.io/ionic-pullup/  NONE OF THE TWEAKING I'VE DONE MADE IT LOOK LIKE THE EXAMPLE THOUGH... -->
          <!-- <ion-pull-up-footer class="bar-calm">
          <ion-pull-up-footer class="bar-calm">
                <div class="title" ion-pull-up-trigger>Tap me or drag me</div>
                <ion-pull-up-handle width="120" height="15" icon-expand="ion-chevron-up" icon-collapse="ion-chevron-down" style="border-radius: 5px 5px 0 0">
                </ion-pull-up-handle>
                <ion-pull-up-content scroll="false">
            <div class="list card">
              <div class="item item-divider">Recent Updates</div>
              <div class="item item-body">
                <div>
                  There is a fire in <b>sector 3</b>
                </div>
              </div>
            </div>
            <div class="list card">
              <div class="item item-divider">Other Updates</div>
              <div class="item item-body">
                <div>
                  There was a fire in <b>sector 13</b>
                </div>
              </div>
            </div> </ion-pull-up-content>
          </ion-pull-up-footer> -->


        </ion-view>
      </script>

      <script id="templates/facts.html" type="text/ng-template">
        <ion-view class="landing" view-title="Facts" ng-init="toggleAge=true; gender=false; zipCode=false">
          <div class="container">
            <ion-content>

              <div class="alohaLandingOne hide-on-med-and-up">
                <p class="contentPar">Before we get started, we<br> want to gather some<br>general information.<br></p>

                <div ng-show="toggleAge">
                  <div class="btnDrk btnTitle">Age</div></br>
                  <a class="btnDrk" ng-click="toggleAge=false; gender=true; zipCode=false">18-25</a></br>
                  <a class="btnDrk" ng-click="toggleAge=false; gender=true; zipCode=false">26-45</a></br>
                  <a class="btnDrk" ng-click="toggleAge=false; gender=true; zipCode=false">&nbsp46+&nbsp&nbsp</a>

                  <ol id="pagination">
                    <li><a href="#slide1" class="active"></a></li>
                    <li><a href="#slide2">2</a></li>
                    <li><a href="#slide3">3</a></li>
                  </ol>
                </div>

                <div ng-show="gender">
                  <div class="btnDrk btnTitle">Gender</div></br>
                  <div class="btnDrk" ng-click="toggleAge=false; gender=false; zipCode=true">Female</div></br>
                  <div class="btnDrk" ng-click="toggleAge=false; gender=false; zipCode=true">&nbsp&nbspMale&nbsp&nbsp</div>

                  <ol id="pagination">
                    <li><a href="#slide1"></a></li>
                    <li><a href="#slide2" class="active">2</a></li>
                    <li><a href="#slide3">3</a></li>
                  </ol>
                </div>

                <div ng-show="zipCode">
                  <div class="btnDrk btnTitle">zip code</div></br>
                  <input class="zipField" type="number"></input></br>
                  <a href="#/tab/aloha" class="button">Submit</a>

                  <ol id="pagination">
                    <li><a href="#slide1"></a></li>
                    <li><a href="#slide2">2</a></li>
                    <li><a href="#slide3"class="active">3</a></li>
                  </ol>
                </div>
                </br>
                <a class="skipLink" href="#/tab/aloha">skip</a>
              </div>

            </ion-content>
          </div>
        </ion-view>
      </script>

      <!-- MOBILE VIEW LANDING INTRO -->
      <script id="templates/alohaLanding.html" type="text/ng-template">
        <ion-view class="landing" view-title="Bikeshare Hawaii">
          <ion-content class="padding">
            <!-- <div ng-controller="MapCtrl"> -->
            <div ng-controller="MapCtrl" class="alohaLandingOne hide-on-med-and-up">
              <p class="contentPar">Help us customize your </br>experience by selecting the option </br>that fits you the best.</p>
              <div class="buttonLinks">
                <a ng-click="updatePath('info')" href="#/tab/main"><div class="button btnDrk waves-effect waves-light">I don’t know what </br>bikeshare is and want </br>to learn more</div></a></br>
                <a ng-click="updatePath('map')" href="#/tab/mapSite"><div class="button btnDrk waves-effect waves-light">I’m excited about </br>bikeshare and want to </br>know how I can use it</div></a></br>
                <a ng-click="updatePath('benefits')" href="#/tab/benefits"><div class="button btnDrk waves-effect waves-light">I'm not sure my </br>community needs </br>Bikeshare Hawaii.</div></a></br>
              </div>
            </div>


            <!-- BROWSER VIEW LANDING INTRO -->
            <div ng-controller="MapCtrl" class="alohaLandingOne hide-on-small-only webViewLandingButton">
              <a ng-click="updatePath('info')" href="#/tab/main"><img src="img/bike-assets/web-1.png" alt=""></a>
              <a ng-click="updatePath('benefits')" href="#/tab/benefits"><img src="img/bike-assets/web-2.png" alt=""></a>
              <a ng-click="updatePath('map')" href="#/tab/mapSite"><img src="img/bike-assets/web-3.png" alt=""></a>
            </div>
            <!-- </div> -->
          </ion-content>
        </ion-view>
      </script>

<!--       The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like). -->

    <ion-nav-view></ion-nav-view>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="lib/angular-simple-logger/dist/angular-simple-logger.js"></script>
    <script src="lib/ui-leaflet/dist/ui-leaflet.js"></script>
    <script src="lib/ui-bootstrap-custom-build/ui-bootstrap-custom-1.3.2.min.js"></script>
    <script src="lib/ui-bootstrap-custom-build/ui-bootstrap-custom-tpls-1.3.2.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <script src="js/l.control.geosearch.js"></script>
    <script src="js/l.geosearch.provider.google.js"></script>

    <script src="http://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js"></script>
    <!-- for loading information from KML files-->

    <script src="js/leaflet.extra-markers.min.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="assets/BBB.js"></script>
    <script src="assets/stations.js"></script>

    <!-- your app's js -->
    <script src="js/ion-pullup.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>

    <!-- <script src="js/constants.js"></script> -->
  </body>
</html>
