<ion-view view-title="Comments" class="landingBgClr" ng-init="toggle_comment=true; toggle_survey=false; ">

  <ion-header-bar class="bar bar-header">
    <a href="#" ng-click="myGoBack()"><i class="ion-ios-arrow-thin-left backArrow"></i></a>

    <div class="comment_demo_icons row">
        <div class="toggle_comment_icon" ng-click="toggle_comment=true;toggle_survey=false;">
          <i class="ion-compose surveyBtn waves-effect"></i>
        </div>
        <div class="toggle_survey_icon" ng-click="toggle_comment=false;toggle_survey=true;">
          <i class="ion-clipboard surveyBtn waves-effect"></i>
        </div>
    </div>

  </ion-header-bar>

  <ion-content class="fade-on-enter addBackgroundImg" >



<!-- SURVEY/QUESTION DIV BEGINS -->
<div class="alohaLandingOne">
  <div class="alohaLandingOne divSize has-header" ng-show="toggle_comment">
      <p class="commentHeader">We're happy to hear from you!</p>

        <form action="">
          <input ng-model="user.name" type="text" name="FirstLastName" placeholder="Name">
          <input ng-model="user.email" type="email" name="Email" placeholder="Email">

          <!-- RADIO DIV -->

          <!-- AGE -->
          <div class="radioBlock">
            <div class="ageGenderTitle"><p>Age</p></div>

            <div class="row radioDivAgeGender">
              <div class="selectionEachBlock">
                <p>
                  <input ng-model="user.age" value="18-25" name="group4" type="radio" id="test1" />
                  <label for="test1">18-25</label>
                </p>
              </div>

              <div class="selectionEachBlock">
                <p>
                  <input ng-model="user.age" value="26-45" name="group4" type="radio" id="test2" />
                  <label for="test2">26-45</label>
                </p>
              </div>

              <div class="selectionEachBlock">
                <p>
                  <input ng-model="user.age" value="46+" name="group4" type="radio" id="test3" />
                  <label for="test3">46+</label>
                </p>
              </div>

            </div>
          </div>
          <!-- END OF AGE -->


          <!-- GENDER -->
          <div class="radioBlock">
            <div class="ageGenderTitle"><p>Gender</p></div>
            <div class="row radioDivAgeGender">
             <div class="selectionEachBlock">
                <p>
                 <input ng-model="user.gender" value="male" name="group3" type="radio" id="test5" />
                 <label for="test5">Male</label>
               </p>
             </div>
              <div class="selectionEachBlock">
                <p>
                  <input ng-model="user.gender" value="female" name="group3" type="radio" id="test4" />
                  <label for="test4">Female</label>
                </p>
              </div>
            </div>
          </div>
          <!-- END OF GENDER -->

          <!-- ZIPCODE -->
          <div class="radioSelections">
             <div class="zipcodeInput"><input ng-model="user.zipcode" class="zipcodeInput" type="text" placeholder="| Zipcode"></input></div>
          </div>
          <!-- END OF ZIPCODE -->


          <!-- RADIO DIV ENDS -->

          <p>
            <input ng-model="user.commentType" value="support" class="with-gap" name="group10" type="radio" id="test10" />
            <label for="test10" class="smallSizeFont">I support Bikeshare Hawaii.</label>
          </p>
          <p>
            <input ng-model="user.commentType" value="unconvinced" class="with-gap" name="group10" type="radio" id="test20" />
            <label for="test20" class="smallSizeFont">I'm still unconvinced.</label>
          </p>
          <p>
            <input ng-model="user.commentType" value="undecided" class="with-gap" name="group10" type="radio" id="test30"  />
            <label for="test30" class="smallSizeFont">I'm undecided.</label>
          </p>
          <textarea ng-model="user.comment" class="" rows="5" cols="2" placeholder="Message..."></textarea>
        </form>

        </br>
        </br>
        <a href="#/tab/mahalo" ng-click="update(user); openModal(3)" class="submitBtn" nav-transition="none">Submit</a>
    </div>

</div> <!-- ALOHALANDINGONE ENDS -->

<!-- SURVEY/QUESTION DIV ENDS -->

  </ion-content>

</ion-view>