<ion-view view-title="Comments" class="landingBgClr">

  <ion-header-bar class="bar bar-header">
    <a href="#" ng-click="myGoBack()"><i class="ion-ios-arrow-thin-left backArrow"></i></a>
  </ion-header-bar>

  <ion-content class="addBackgroundImg">
    <div class="alohaLandingOne divSize has-header">
      <p class="commentHeader">We're happy to hear from you!</p>

      <form action="">
        <input type="text" name="FirstLastName" placeholder="First and Last name">
        <input type="email" name="Email" placeholder="Email">

        <p>
          <input class="with-gap" name="group10" type="radio" id="test10" />
          <label for="test10" class="smallSizeFont">I support Bikeshare Hawaii.</label>
        </p>
        <p>
          <input class="with-gap" name="group10" type="radio" id="test20" />
          <label for="test20" class="smallSizeFont">I'm still unconvinced.</label>
        </p>
        <p>
          <input class="with-gap" name="group10" type="radio" id="test30"  />
          <label for="test30" class="smallSizeFont">I'm undecided</label>
        </p>

        <textarea class="" rows="5" cols="2" placeholder="Message..."></textarea>

      </form>
      </br>
      <a href="#/tab/mahalo" ng-click="openModal(3)" class="submitBtn" nav-transition="none">submit</a>
    </div>
  </ion-content>

</ion-view>