<ion-modal-view>

   <ion-content style="background-color: #626262;">
     <div class="alohaLandingOne divSize">

        <div class="secTitle" style="color: #f5f5f5">Mahalo for your <br> feedback!</div>
        <p style="color: #f5f5f5; padding-top: 10px; padding-bottom: 20px; font-weight: 600;">Where would you like to go next?</p>
        <div class="divider" style="color: #888888"></div>
        <div class="fbLinkBtn">
          <a href="#/tab/main" ng-click="closeModal(3)">What is Bikeshare Hawaii?</a>
        </div>
        <div class="divider" ></div>
        <div class="fbLinkBtn">
          <a href="#/tab/benefits" ng-click="closeModal(3)">Community benefits of Bikeshare Hawaii.</a>
        </div>
        <div class="divider" style="color: #888888"></div>
        <div class="fbLinkBtn">
          <a href="#/tab/mapSite" ng-click="closeModal(3)">View station map.</a>
        </div>
        <div class="divider" ></div>
        <div class="fbLinkBtn">
          <a href="#/tab/home" ng-click="closeModal(3)">I'M PAU</a>
        </div>
     </div>
   </ion-content>
</ion-modal-view>