<ion-modal-view class="landing" view-title="Survey">
  <ion-content style="background-color: #626262;">
    <div class="list alohaLandingOne addPadding" controller="MapCtrl">

      <div class="radioBlock">
        <div class="topicDiv"><span>Age</span></div>
        <div class="radioSelections row">
          <div>
            <p>
              <input name="group4" type="radio" id="test1" />
              <label for="test1">18-25</label>
            </p>
          </div>
          <div>
            <p>
              <input name="group4" type="radio" id="test2" />
              <label for="test2">26-45</label>
            </p>
          </div>
          <div>
            <p>
              <input name="group4" type="radio" id="test3" />
              <label for="test3">46+</label>
            </p>
          </div>
        </div>

      </div>

      <div class="radioBlock">
        <div class="topicDiv"><span>Gender</span></div>
        <div class="radioSelections row">
         <div>
            <p>
             <input name="group3" type="radio" id="test5" />
             <label for="test5">Male</label>
           </p>
         </div>
          <div>
            <p>
              <input name="group3" type="radio" id="test4" />
              <label for="test4">Female</label>
            </p>
          </div>
        </div>
      </div>

      <div class="radioBlock">
        <div class="topicDiv"><span>Zipcode</span></div>
        <div class="radioSelections">
          <div class="zipcodeInput"><input class="zipcodeInput" type="text" placeholder="| Zipcode"></input></div>
        </div>
      </div>

      <div class="done" style="margin-top: 50px;">
        <a href="#/tab/home" class="cancelBtn" ng-click="closeModal(5)">Home</a>
      </div>
    </div>

  </ion-content>
</ion-modal-view>
