<ion-view class="landing" view-title="Survey">

<ion-header-bar class="bar bar-header">
  <a ng-href="#" ng-click="myGoBack()"><i class="ion-ios-arrow-thin-left backArrow"></i></a>
</ion-header-bar>

  <ion-content scroll="true" class="fade-on-enter addBackgroundImg">
    <!-- <div class="list alohaLandingOne addPadding divSize" controller="MapCtrl"> -->
    <div ng-controller="SurveyCtrl" class="list alohaLandingOne addPadding divSize">
      <div class="hide-on-med-and-up survSmallTitle"><span>Age</span></div>
      <div class="radioBlock">
        <div class="topicDiv hide-on-small-only"><span>Age</span></div>
        <div class="radioSelections row">
          <div>
            <p>
              <input ng-model="user.age" value="18-25" name="group4" type="radio" id="test1" />
              <label for="test1">18-25</label>
            </p>
          </div>
          <div>
            <p>
              <input ng-model="user.age" value="26-45"name="group4" type="radio" id="test2" />
              <label for="test2">26-45</label>
            </p>
          </div>
          <div>
            <p>
              <input ng-model="user.age" value="46+" name="group4" type="radio" id="test3" />
              <label for="test3">46+</label>
            </p>
          </div>
        </div>

      </div>

      <div class="hide-on-med-and-up survSmallTitle"><span>Gender</span></div>
      <div class="radioBlock">
        <div class="topicDiv hide-on-small-only"><span>Gender</span></div>
        <div class="radioSelections row">
         <div>
            <p>
             <input ng-model="user.gender" value="male" name="group3" type="radio" id="test5" />
             <label for="test5">Male</label>
           </p>
         </div>
          <div>
            <p>
              <input ng-model="user.gender" value="female" name="group3" type="radio" id="test4" />
              <label for="test4">Female</label>
            </p>
          </div>
        </div>
      </div>

      <div class="hide-on-med-and-up survSmallTitle"><span>Zipcode</span></div>
      <div class="radioBlock">
        <div class="topicDiv hide-on-small-only"><span>Zipcode</span></div>
        <div class="radioSelections">
          <div class="zipcodeInput"><input ng-model="user.zipcode" class="zipcodeInput" type="text" placeholder="| Zipcode"></input></div>
        </div>
      </div>

      <div class="done" style="margin-top: 50px;">
        <a href="#/tab/mahalo" class="cancelBtn" ng-click="updateSurvey(user);" nav-transition="none">Submit</a>
      </div>
    </div>
  </ion-content>
</ion-view>
