<ion-view view-title="Benefits" class="landingBgClr">

  <ion-header-bar class="bar bar-header">
    <a href="#" ng-click="myGoBack()"><i class="ion-ios-arrow-thin-left backArrow"></i></a>
    <!-- <i class="right" ng-click="openModal(1)">Leave Feedback</i> -->
<!--     <button ng-click="openModal(1)" class="button fdbckBtn waves-effect waves-light">
      Leave Feedback
    </button> -->
  </ion-header-bar>

  <ion-content class="has-header">
    <div style="padding: 50px;">
      <div class="secTitle">Not convinced?</div>
      <p>Here's some reasons why</p>
      <div style="height: 80px; background: #626262"></div>
      <h5>Reason Headline</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus aperiam molestias, eos nesciunt consectetur facilis hic est error culpa. Corporis nostrum nobis illum repudiandae maxime veniam iste. Eum, pariatur quae?</p>
      <div class="divider"></div>

      <div style="height: 80px; background: #626262"></div>
      <h5>Reason Headline</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus aperiam molestias, eos nesciunt consectetur facilis hic est error culpa. Corporis nostrum nobis illum repudiandae maxime veniam iste. Eum, pariatur quae?</p>
      <div class="divider"></div>

      <div style="height: 80px; background: #626262"></div>
      <h5>Reason Headline</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus aperiam molestias, eos nesciunt consectetur facilis hic est error culpa. Corporis nostrum nobis illum repudiandae maxime veniam iste. Eum, pariatur quae?</p>
      <div class="divider"></div>
      <div style="height: 80px; background: #626262"></div>

      <h5>Reason Headline</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus aperiam molestias, eos nesciunt consectetur facilis hic est error culpa. Corporis nostrum nobis illum repudiandae maxime veniam iste. Eum, pariatur quae?</p>

      <div class="mapBg">
        <div class="viewMapBtn center">
          <a class="button waves-effect moreInfoMap" href="#/tab/mapSite"><h4>View Station Map</h4></a>
        </div>
      </div>

    </div>
  <ion-content>
<!--   <ion-footer-bar class="footerSec">
    <div class="padding footerBack">
      <p style="color: #626262; font-size: 10px;">Bikeshare &copy 2016</p>
    </div>
    <div class="padding socialIcons"><a href="https://www.facebook.com/bikesharehawaii/"><i class="ion-social-facebook"></i></a>&nbsp&nbsp <a href="https://www.instagram.com/bikesharehawaii/"><i class="ion-social-instagram"></i></a>&nbsp <a href="https://twitter.com/bikesharehi"><i class="ion-social-twitter"></i></a></div>
  </ion-footer-bar> -->
</ion-view>