<ion-view view-title="Benefits" class="landingBgClr">

  <ion-header-bar class="bar bar-header">
    <a href="#" ng-click="myGoBack()"><i class="ion-ios-arrow-thin-left backArrow"></i></a>
    <a href="#/tab/leave-comments" class="button fdbckBtn waves-effect waves-light" nav-transition="none">
      <span>Leave Feedback</span>
    </a>
    <a href="#/tab/home"><i class="ion-android-home button surveyBtn waves-effect" nav-transition="none"></i></a>
    </div></a>
  </ion-header-bar>

  <ion-content class="has-header" style="color: #626262;">
    <div class="center" style="padding: 50px;">
      <div class="secTitle">Unsure?</div>
      <p class="center" style="font-size: 18px; padding: 20px 0px;">Here are some additional benefits can bring to your community</p>
        <div class="row col">
          <div class="col s12 m4 l4 benefitBlock">
          <div class="center benGraphics">
            </br><img src="../../img/bike-assets/Emergency.png" alt="">
          </div>
          <h5>Community Resilience in Emergencies</h5>
          <p>Bikes are recognized as a viable form of transportation in emergency and disaster scenarios when other services such as roads and transit have not yet come back online. Having bikes in your community means that even in the most difficult situations, you can still function and access critical resources, and connect with loved ones. Bikeshare Hawaii is working with the Department of Emergency Management on incorporating it’s program into disaster planning.</p>
        </div>

        <div class="col s12 m4 l4 benefitBlock">
          <div class="center benGraphics">
            </br><img src="../../img/bike-assets/Historic.png" alt="">
          </div>
          <h5>Historic and Cultural Identity</h5>
          <p>Bikeshare encourages people walk, bike, and explore new their neighborhoods at a pace that allows them to appreciate the unique character of each place. Through partnerships with historical researchers and our local cultural institutions, Bikeshare Hawaii will be featuring the context and heritage around our station locations using the station map panels to highlight what is special about each community.</p>
        </div>

        <div class="col s12 m4 l4 benefitBlock">
          <div class="center benGraphics">
            </br><img src="../../img/bike-assets/Pedestrians.png" alt="">
          </div>
          <h5>Safer Pedestrians</h5>
          <p>The presence of bikes on roads generally slows auto traffic speeds and makes drivers more aware of non-automobile travelers. This provides a safety benefit to our most vulnerable travelers: Pedestrians!</p>
        </div>
      </div>

      <div class="row col">
        <div class="col s12 m4 l4 benefitBlock bottomRowBorder">
          <div class="center benGraphics">
            </br><img src="../../img/bike-assets/HEalth.png" alt="">
          </div>
          <h5>A Community Health Option</h5>
          <p>Having bikes in a community means that residents have access to a great source of exercise and recreation, as well as one that can help them access other fitness and recreation facilities such as our parks.</p>
        </div>


        <div class="col s12 m4 l4 benefitBlock bottomRowBorder">
          <div class="center benGraphics">
            </br><img src="../../img/bike-assets/weather.png" alt="">
          </div>
          <h5>Weather Updates and Other Information</h5>
          <p>Bikeshare Hawaii is part of the NOAA Weather Ready Nation Ambassador program. We will be providing weather alerts and other critical information at our kiosks, which can serve as a community resource for critical information. </p>
        </div>


        <div class="col s12 m4 l4 benefitBlock bottomRowBorder">
          <div class="center benGraphics">
            </br><img src="../../img/bike-assets/suggestions.png" alt="">
          </div>
          <h5>Other Suggestions?</h5>
          <p>What other benefits would you like to see a program like bikeshare bring to your community? </p>
        </div>
      </div>
    </div>

      <div class="mapBg">
        <div class="viewMapBtn center">
          <a ng-click="updatePath('map')" class="button waves-effect moreInfoMap" href="#/tab/mapSite"><h4>View Station Map</h4></a>
        </div>
      </div>

  </ion-content>
  <ion-footer-bar class="footerSec">
    <div class="padding footerBack">
      <p style="color: #626262; font-size: 10px;">Bikeshare &copy 2016</p>
    </div>
    <div class="padding socialIcons"><a href="https://www.facebook.com/bikesharehawaii/"><i class="ion-social-facebook"></i></a>&nbsp&nbsp <a href="https://www.instagram.com/bikesharehawaii/"><i class="ion-social-instagram"></i></a>&nbsp <a href="https://twitter.com/bikesharehi"><i class="ion-social-twitter"></i></a></div>
  </ion-footer-bar>
</ion-view>