
  <ion-header-bar class="bar bar-header valign-wrapper">
    <a href="#" ng-click="myGoBack()"><i class="ion-ios-arrow-thin-left backArrow"></i></a>

    <img src="./img/bike-assets/bikesharelogo.png">

    <a href="#/tab/leave-comments" class="button fdbckBtn waves-effect waves-light" nav-transition="none">
      <span>Leave Feedback</span>
    </a>

    <a href="#/tab/home"><i class="ion-android-home button surveyBtn waves-effect" nav-transition="none"></i></a>

  </ion-header-bar>

  <ion-view view-title="Home" class="landingBgClr">

    <ion-content class="has-header">
      <!-- <div class="mapImage"> -->
        <img class="mapImage" src="../../img/bike-assets/AREA Map.png" alt="">
      <!-- </div> -->

      <!-- MOBILE VIEWPORT HOW DOES IT WORK-->
      <!-- <div class="section hide-on-med-and-up" style="background-color: #fff" ng-init="one=true;two=false;three=false;four=false;">
        <h1 class="secTitle">How does it work?</h1>
        <div class="stepsDiv">
          <i class="ion-arrow-left-b" style="font-size: 24px; margin: auto; padding-right: 20px;"></i>

            <img src="../../img/bike-assets/numOne.png" alt="" class="stepsNum" ng-click="one=true;two=false;three=false;four=false;">
            <div class="dots">
              <li><a href="#slide1"></a></li>
              <li><a href="#slide2"></a></li>
              <li><a href="#slide3"></a></li>
            </div>

            <img ng-class="active" src="../../img/bike-assets/num2.png" alt="" class="center stepsNum" ng-click="one=false;two=true;three=false;four=false;">
            <div class="dots">
              <li><a href="#slide1"></a></li>
              <li><a href="#slide2"></a></li>
              <li><a href="#slide3"></a></li>
            </div>

            <img src="../../img/bike-assets/num3.png" alt="" class="center stepsNum" ng-click="one=false;two=false;three=true;four=false;">
            <div class="dots">
              <li><a href="#slide1"></a></li>
              <li><a href="#slide2"></a></li>
              <li><a href="#slide3"></a></li>
            </div>

            <img src="../../img/bike-assets/num4.png" alt="" class="center stepsNum" ng-click="one=false;two=false;three=false;four=true;">

          <i class="ion-arrow-right-b" style="font-size: 24px; margin: auto; padding-left: 20px;"></i>
        </div>

          <div class="center graphicBike" style="height: 140px; width: auto;">
            <img ng-show="one" src="../../img/bike-assets/Get a bike.png" alt="">
            <img ng-show="two" src="../../img/bike-assets/ Get Going.png" alt="">
            <img ng-show="three" src="../../img/bike-assets/Check in.png" alt="">
            <img ng-show="four" src="../../img/bike-assets/Go again_.png" alt="">
          </div>


        <div class="howItworksMobile">
          <div class="boxRow" ng-show="one">
            <div class="">
              <h4>Get a bike</h4>

                <p>Pay with a credit card or sign up for membership.</p>
                <p>Select any available bike.</p>

            </div>
          </div>

          <div class="boxRow" ng-show="two">
            <div class="">
              <h4>Get Going</h4>
                <p>Enjoy your ride, be safe.</p>
                <p>Ride for as long as you like. Short rides are the most cost effective for most plans.</p>
            </div>
          </div>

          <div class="boxRow" ng-show="three">
            <div class="">
            <h4>Check in</h4>
                <p>Return your bike to any other station in the network.</p>
                <p>When you “dock” your bike, you are no longer being being charged for ride time.</p>
            </div>
          </div>

          <div class="boxRow" ng-show="four">
            <div class="">
              <h4>Go again</h4>
                <p>Go for another convenient and fun ride!</p>
                <p>Most plans include enough time for multiple trips.</p>
            </div>
          </div>
        </div>
      </div> --><!-- / END OF MOBILE VIEWPORT HOW DOES IT WORK-->

      <!-- MEDIUM UP VIEWPORT HOW DOES IT WORK-->

      <div class="concreteBackground valign-wrapper">
        <div class="center paddingSection">
          <span>What is Bikeshare?</span>
          <p class="center">Bikeshare gives you all of the benefits of riding a bike for short trips, with none of the hassles of ownership. Our program will start in the urban core of Honolulu, and you’ll be able to pick up a bike from any one of our 150 stations and use it to ride to work, run errands, go shopping, or just enjoy a fun ride! Bikeshare is a great way to get around Honolulu, one ride at a time.</p>
        </div>
      </div>

      <div class="center howDoesItWorkTitle">
        <span>How does it work?</span>
      </div>
      <div class="valign-wrapper benefitSections">
        <div class="sectionImageTextContents row">
          <div class="imageWrapper center">
            <img src="../../img/bike-assets/Get a bike.png" alt="">
          </div>
          <div class="col copyInBenefitsSection">
            <h5>Get a bike</h5>
            <p>Pay with a credit card or sign up for membership.</br>
              Select any available bike.</p>
          </div>
        </div>
      </div>


      <div class="valign-wrapper benefitSection_concreteBg">
        <div class="sectionImageTextContents row">
          <div class="imageWrapper center">
            <img src="../../img/bike-assets/ Get Going.png" alt="">
          </div>
          <div class="col copyInBenefitsSection">
            <h5>Get Going</h5>
            <p>Enjoy your ride, be safe.</br>
               Ride for as long as you like. Short rides are the most cost effective for most plans.</p>
          </div>
        </div>
      </div>


      <div class="valign-wrapper benefitSections">
        <div class="sectionImageTextContents row">
          <div class="imageWrapper center">
            <img src="../../img/bike-assets/Check in.png" alt="">
          </div>
          <div class="col copyInBenefitsSection">
            <h5>Check in</h5>
            <p>Return your bike to any other station in the network.</br>
               When you “dock” your bike, you are no longer being charged for ride time.</p>
          </div>
        </div>
      </div>


      <div class="valign-wrapper benefitSection_concreteBg">
        <div class="sectionImageTextContents row">
          <div class="imageWrapper center">
            <img src="../../img/bike-assets/Go again_.png" alt="">
          </div>
          <div class="col copyInBenefitsSection">
            <h5>Go again</h5>
            <p>Go for another convenient and fun ride!</br>
               Most plans include enough time for multiple trips.</p>
          </div>
        </div>
      </div>


      <div class="mapBg valign-wrapper">
        <div class="viewMapBtn center valign">
          <a ng-click="updatePath('map')" class="button waves-effect moreInfoMap" href="#/tab/mapSite"><h4>View Station Map</h4></a></br></br>
          <p>View details about our planned stations. Give feedback, suggest a station, and more!</p>
        </div>
      </div>

      <div cldivs="">
        <div class="howDoesItWorkTitle center"><span>Leadership</span></div>
        <img class="leadershipTeam hide-on-med-and-up" src="../../img/bike-assets/Screen Shot-Leadership.png" alt="">
      </div>

      <!-- MOBILE VIEW LEADERSHIP -->
      <div class="sectionTwo hide-on-med-and-up">
        <div class="loriPadding" ng-click="isCollapsed = !isCollapsed; benCollapsed = true;"><p class="leaderName">Lori McCartney, CEO<i ng-class="{'ion-ios-plus-outline' : isCollapsed, 'ion-ios-close-outline' : !isCollapsed}" class="right"></i></p>
          <div uib-collapse="isCollapsed">
            <div class="aboutPar">
              <p> Lori McCarney has 35+ years of experience in senior management and has held executive positions in local, national and international markets. She specializes in marketing and has a strong background in business strategy development. McCarney's local experience includes serving as a Senior VP of Coldwell Banker Pacific Properties, Chief Marketing Officer of FlyHawaii Airlines, and Executive VP-Director of Marketing at Bank of Hawaii. Prior to moving to Hawaii, she held executive leadership positions at Wells Fargo, Bank of America and major advertising agencies.  Additionally, McCarney is currently Chair of the Blood Bank of Hawaii Board of Trustees and the Communications Chair for Kapiolani Health Foundation.  She is also an avid cyclist and accomplished Ironman triathlete.</p>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="" ng-click="benCollapsed = !benCollapsed; isCollapsed=true"><p class="leaderName" style="padding-top:10px;">Ben Trevino, CEO<i ng-class="{'ion-ios-plus-outline' : benCollapsed, 'ion-ios-close-outline' : !benCollapsed}" class="right"></i></p>
          <div uib-collapse="benCollapsed">
            <div class="aboutPar">
              <p> Ben Trevino is an experienced entrepreneur and technologist. He was a founder of Interisland Terminal, a Honolulu-based non-profit organization with projects including community spaces, the Kaka‘ako Agora, and R&D Bookstore and Cafe. Prior to Bikeshare Hawaii, Trevino was with the University of Hawaii Economic Research Organization (UHERO) where he was the architect of the UHERO Dashboard Project, a community data visualization portal for Hawaii data. He has held previous positions with Pacific Resources for Education and Learning, the Hawaii International Film Festival and Google. He currently serves on the board of Common Cause Hawaii. Trevino holds a BS in Computer Science from Stanford University and an MBA from the Shidler School of Business at University of Hawaii at Manoa. He has been commuting by bike in Hawaii for eight years.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- MEDIUM UP VIEW LEADERSHIP-->
      <div class="row center sectionTwo hide-on-small-only leadershipWrapDivMediumUp">
        <div class="col leadDiv">
          <img src="../../img/bike-assets/leadership_lori.png" alt="">
          <h5>Lori McCarney, CEO</h5>
          <p style="text-align: left; padding-right: 8%;"> Lori McCarney has 35+ years of experience in senior management and has held executive positions in local, national and international markets. She specializes in marketing and has a strong background in business strategy development. McCarney's local experience includes serving as a Senior VP of Coldwell Banker Pacific Properties, Chief Marketing Officer of FlyHawaii Airlines, and Executive VP-Director of Marketing at Bank of Hawaii. Prior to moving to Hawaii, she held executive leadership positions at Wells Fargo, Bank of America and major advertising agencies.  Additionally, McCarney is currently Chair of the Blood Bank of Hawaii Board of Trustees and the Communications Chair for Kapiolani Health Foundation.  She is also an avid cyclist and accomplished Ironman triathlete.</p>
        </div>

        <div class="col leadDiv">
          <img src="../../img/bike-assets/leadership_ben.png" alt="">
          <h5>Ben Trevino, CEO</h5>
          <p style="text-align: left; padding-left: 10%;"> Ben Trevino is an experienced entrepreneur and technologist. He was a founder of Interisland Terminal, a Honolulu-based non-profit organization with projects including community spaces, the Kaka‘ako Agora, and R&D Bookstore and Cafe. Prior to Bikeshare Hawaii, Trevino was with the University of Hawaii Economic Research Organization (UHERO) where he was the architect of the UHERO Dashboard Project, a community data visualization portal for Hawaii data. He has held previous positions with Pacific Resources for Education and Learning, the Hawaii International Film Festival and Google. He currently serves on the board of Common Cause Hawaii. Trevino holds a BS in Computer Science from Stanford University and an MBA from the Shidler School of Business at University of Hawaii at Manoa. He has been commuting by bike in Hawaii for eight years.
          </p>
        </div>
      </div>


      <div class="section">
        <div class="bslogo"><img src="../../img/bike-assets/bikesharelogo.png" alt=""></div>
        <p class="secPar">Bikeshare Hawaii is a not-for-profit 501(c)3 organization aiming to launch and manage bikeshare in the state of Hawaii. It strives to create a strong public/private partnership in order to launch and maintain bikeshare systems throughout the state. Bikeshare Hawaii is currently supported by Ulupono Initiative, Hawaii Pacific University, the State of Hawaii and the City and County of Honolulu, The Environmental Protection Agency and is actively seeking other partnerships.
        </p>
      </div>

      <div class="footerSec">
        <div class="padding footerBack">
          <p style="color: #f5f5f5; font-size: 10px;">Bikeshare &copy 2016</p>
        </div>
        <div class="padding socialIcons"><a href="https://www.facebook.com/bikesharehawaii/"><i class="ion-social-facebook"></i></a>&nbsp&nbsp <a href="https://www.instagram.com/bikesharehawaii/"><i class="ion-social-instagram"></i></a>&nbsp <a href="https://twitter.com/bikesharehi"><i class="ion-social-twitter"></i></a></div>
      </div>


    </ion-content>




  </ion-view>


