
  <ion-view view-title="Home">
    <ion-header-bar class="bar bar-header">
      <a href="#/tab/aloha"><</a>
      <a href="#/feedback/mahalo" ng-click="openModal(8)">Leave Feedback</a>
    </ion-header-bar>

    <ion-content class="padding">
    <h5>What is Bikeshare?</h5>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem animi sequi tenetur ab dolorum voluptatem, quidem dignissimos tempora non, sunt vel, ipsum ratione laborum rem adipisci quibusdam deleniti? Veniam, officiis.
        <a class="button" href="#/tab/facts">Let's Go!</a>
      </p>
    </ion-content>

    <script id="inputFeedbackForm.html" type="text/ng-template">
       <ion-modal-view class="modalMessage">

         <div class="textModalDiv">
           <p>You've successfully created a Mixer! Invite those who are attending and get them Mixin!</p>

           <a class="button okayBtn" ng-click=" closeModal(3);" >Okay!</a>
         </div>
       </ion-modal-view>
     </script>



  </ion-view>


